@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0;
}

@layer utilities {
}
